.home footer {
  text-align: center;
  background-color: white;
  margin: 5px;

  i {
    color: #1259c3;
    font-size: 2em;
    margin-top: 10px;
  }

  .titulo {
    font-weight: 600;
  }

  p {
    font-size: 12px;
    padding: 5px 50px;
    color: #666;
  }

  .derechos {
    text-align: left;
    padding-top: 30px;
    padding-left: 15px;
  }
}