header {
      background-color: #EAC926;
      .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        .buscador, .logo {
          margin-top: 10px;
          max-width: 300px;
          align-self: center;
        }
        .barra-de-busqueda {
          width: 40%;
          max-width: 300px;
          position: relative;
          .buscador{
            width: 100%;
            padding-bottom: 2px;
          }
          .lupa{
            position: absolute;
            color: black;
            right: 3px;
            top: 11px;
            background-color: #fff;
          }
        }
        a.redireccion{
          width: 45%;
          align-items: left;
          img{
            width: 100%;
            margin:0 10px;
            margin-bottom: 10px;
          }
        }
        
      }

      .centrado {
        text-align: center;
        padding:10px 0;
        .burger-menu {
          display: inline-block;
          width: 30px;
          background-color: #1259c3;
          color: white;
          padding: 6px;
          border-radius: 4px;
        }
      }
      .container{
        display: none;   
     }     
     nav{
      padding-bottom: 20px;
      li a{
        color: #000000;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  @media (min-width: 361px) {
    /* header */
  
    header {
        padding:0 2px;
        .flex{
          padding: 0;
          flex-wrap: nowrap;
          padding-top: 5px;
          justify-content: space-between;
          a.redireccion{
            width: 30%;
          }
          .barra-de-busqueda {
            width: 30%;
            .buscador{
              width: 100%;
              padding-bottom: 2px;
            }
          }
          p{
            width:30%;
            font-size: 12px;
          }
        }
        .centrado{
          display: none;
        }
        .container {
          padding: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          ul{
            display: flex;
            li a{
              font-size:12px;
              padding: 0 7px;
        }
      }
    } 
  }
}

@media (min-width: 769px) {
  /* header */

  header{
    .flex p{
      font-size:16px;
    }
    .container ul li a{
      font-size: 18px;
      padding-left: 10px;
      }
  }
}